body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.name{
    color: orange;
}
.section{
    display: flex;
    margin-bottom: 200px;
}

.cont{
    width: 50%;
    padding-left: 150px;
}

.button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, rgba(196, 196, 27, 0.507));
    color: white;
    font-weight: 700;
}

.banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

h2{
    font-size: 40px;
}

.about{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 100px;
}